.dropCap {
  float: left;
  color: #ec8620;
  font-size: 50pt;
  line-height: 48px;
  padding-top: 2px;
  padding-right: 3px;
  padding-left: 0px;
  font-family: Georgia;
}

.accordionText {
  font: 11pt Arial, Helvetica, Sans-serif;
}
